body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image:url("../public/5-webs-donde-encontrar-fotografías-de-calidad-gratis-unsplash.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

html {
  width: 100vw;
  height: 100vh;
}